<h1  class="govuk-heading-l">Dashboard</h1>

<div>
  <img class="avatar" src="<%= @user[:info][:image] %>"/>
  <h2  class="govuk-heading-m">Welcome <%= @user[:info][:name] %></h2>
  <%= link_to "Logout", "/logout" %>
</div>
